.git
.gitignore
final/.m2
.idea
final/tooling/ungoogled-chromium-portable-win64-120.0.6099.180-17

taxi
money

final/ticket-service-web/target
final/ticket-service-acceptance-tests/target
final/ticket-service/target
final/h2db/h2/target

final/cucumber-modified/spring/target
final/cucumber-modified/plugin/target
final/cucumber-modified/junit/target
final/cucumber-modified/java/target
final/cucumber-modified/gherkin-messages/target
final/cucumber-modified/gherkin/target
final/cucumber-modified/docstring/target
final/cucumber-modified/core/target
