<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <th:block data-th-insert="~{fragments :: imports}"></th:block>
</head>
<body class="container">
<h1>Welcome to the User Page!</h1>
<th:block data-th-insert="~{fragments :: logoutBtn}"></th:block>
<ul class="nav nav-tabs" id="myTab">
    <li class="nav-item" data-th-each="tab : ${ {'movies','screenings','data-dump'} }">
        <!-- TODO bleh -->
        <button class="nav-link"
                data-th-attr="id=${tab+'-tab'},data-bs-target=${'#'+tab}"
                data-th-text="${#strings.capitalize(#strings.replace(tab, '-',' '))}"
                data-bs-toggle="tab"
                type="button"></button>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="movies" th:insert="~{fragments :: movie-table}">...Content for Movies...</div>
    <div class="tab-pane fade" id="screenings" th:insert="~{fragments :: screening-table}">...Content for Screenings...</div>
    <div class="tab-pane fade" id="data-dump">
        admins: <br>
        <div data-th-each="item : ${admins}" data-th-text="${item}"></div>
        users: <br>
        <div data-th-each="item : ${users}" data-th-text="${item}"></div>
        movies: <br>
        <div data-th-each="item : ${movies}" data-th-text="${item}"></div>
        rooms: <br>
        <div data-th-each="item : ${rooms}" data-th-text="${item}"></div>
        screenings: <br>
        <div data-th-each="item : ${screenings}" data-th-text="${item}"></div>
    </div>
</div>
</body>
</html>
